extends layouts/main

block content
    .form-container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password", placeholder="Current Password", name="currentPassword")
            input(type="password", placeholder="New Password", name="newPassword")
            input(type="password", placeholder="Verify New Password", name="verifyNewPassword")
            input(type="submit", value="Change Password")
        a.form-container__link(href=routes.changePassword) Change Password